#NeosRulez:
#  Shop:
#    Payment:
#      mollie:
#        class: NeosRulez\Shop\Mollie\Domain\Service\Payment\Mollie
#        props:
#          label: 'mollie Payment'
#          icon: 'far fa-credit-card'
#          success_page: 'db1f5d4b-c04c-443f-b08b-7b709c13c2b2'
#          failure_page: '1d3bda42-f825-40c0-9154-6a6473b10c50'
#          payment_status: 1
#        args:
#          profileId: 'pfl_terXDCckbn'
#          partnerId: '12557118'
#          apiKey: 'test_nTUhSVFzXyzdbaVDqVEKJy9cJxBR52'
